body {
    border: 20px solid #bdc3c7;
    /* margin: 15px auto; */
    margin: 20px auto;
    padding: 0 20px;
    max-width: 700px;
    width: 80%;
    font-family: 'Source Sans Pro';
    border-radius: 4px;
}

h4 {
    text-transform: uppercase;
    color: #3498db;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

h2 {
    color: #2c3e50;
    font-size: 2.0rem;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.5), rgba(99, 99, 99, 0));
}